<div class="container">
    <div class="text-center">
        <h1>Welcome in {{appName}} Landing page</h1>
        <table class="center" *ngIf="appName === 'app1'">
            <thead>
                <tr>
                    <td *ngFor="let header of emplyeeHeader">
                        {{header}}
                      </td>
                </tr>
            </thead>
           <tbody>
               <tr *ngFor="let employee of employeeData">
                   <td >
                     {{employee.id}}
                   </td>
                   <td >
                    {{employee.firstName}}
                  </td>
                  <td >
                    {{employee.lastName}}
                  </td>
                  <td >
                    {{employee.address}}
                  </td>
                  <td >
                    {{employee.phoneNumber}}
                  </td>
               </tr>
           </tbody>
        </table>

        <div class="text-center" *ngIf="appName === 'app2'">
          <ag-grid-angular 
          style="width: 56%; height: 287px;" 
          [defaultColDef]="defaultColDef"
          class="ag-theme-balham"
          [rowData]="rowData" 
          [columnDefs]="columnDefs">
      </ag-grid-angular>
        </div>

        <div *ngIf="appName === 'app3'">
          <app-chart-app></app-chart-app>
    </div>
</div>
